:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    font-family: sans-serif;
}

body::after {
  content: "";
  background: url("/static/img/mexican-background.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}
.navbar {
    background: #ffce4b;
}

.page-footer{
    background: teal;
}
#footer-link{
    color: white;
    text-decoration: none;
}
#footer-link:hover{
    color: mediumvioletred;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.board-container{
    max-width: 960px;
    margin: 0 auto;
}
.card-container{
    min-height: 100px;
}
section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-wrap: wrap;
}

.board-column{
    padding: 10px;
    flex: 1;
    flex-basis: 25%;
}

.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;
    line-break: auto;
    word-break: break-all;
    min-width: 30px;

}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.board-column:nth-of-type(4n+1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(4n+2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(4n+3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4n+4) .card{
    background: var(--status-4);
}
.board-remove {
    cursor: pointer;
    float: left;
    margin-top: 18px;
    margin-left: 8px;
}
.status-remove{
    color: darkslategrey;
    cursor: pointer;
}
.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
    line-break: auto;
    word-break: break-all;
}
#title{
margin: 18px 32px 18px 32px;
}

#prev-button{
    margin-left: 32px;
}

.table{
    margin: 32px;
    width: 95% !important;
}
#username-label{
    margin-top: 200px !important;
}
.form-group{
    width: 30% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#submit-button{
    margin-left: 35% !important;
    width: 30% !important;
}

.hidden {
    display: none !important;
}

.create-board {
    border-radius: 5px;
    margin-top: 16px;
}

.create-board-title {
    width: 250px;
    border-radius: 5px;
}

.hover {
    opacity: 0.7;
}
